<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>autoswitch</vendor>

  <action id="org.autoswitch.helper.edit">
    <description>Изменение настроек autoswitch</description>
    <description xml:lang="en">Modify autoswitch settings</description>
    <message>Для изменения настроек autoswitch требуется авторизация</message>
    <message xml:lang="en">Authentication is required to modify autoswitch settings</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/asc-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
